<div class="banner">
  <div class="content">  
    <div class="toy2pic">
      <%= image_tag "toy2.png", class: "toy2" %>
    </div>
    <div class="header">
      <h1 style="text-align:center;">Toy Store</h1>
      <h3 style="text-align:center;">Welcome to Lanzhou's toy store!😊</h3>
      <div class="sign-up-button">
        <%= button_to "Sign up", new_user_registration_path, method: :get %>
      </div>
    </div>
  </div>
</div>